################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ВиноХармони/FileContentIndex/30b1475c-ffdc-4006-99d4-bc1fbabd0948.vsidx
/.vs/ВиноХармони/FileContentIndex/c47ab1ee-d15a-473d-9865-5a97b98aa781.vsidx
/.vs/ВиноХармони/FileContentIndex/44be369b-01a5-491c-bd8c-9746f16eda0d.vsidx
/.vs/ВиноХармони/FileContentIndex/d10ac204-c727-4c9e-8e3c-d8e8f3b84870.vsidx
/.vs/ВиноХармони/FileContentIndex/d48a3db1-f456-4bc8-9586-e42f35b3b36d.vsidx
/App_Data/aspnet-ВиноХармони-20240127043755.mdf
/App_Data/aspnet-ВиноХармони-20240127043755_log.ldf
